<?php if($block->customerExistsInSession()): ?>
    <div class="block block-reward-balance">
        <?php if( $block->getData('heading') ): ?>
            <div class="block-title">
                <strong id="coolblueweb-rewards-balance-heading" role="heading" aria-level="2">
                    <?php echo $block->getData('heading'); ?>
                </strong>
            </div>
        <?php endif; ?>
        <div class="coolblueweb-rewards-balance">
            You're current coolblue rewards balance is <?php echo $block->rewardBalance(); ?>
        </div>
    </div>
<?php endif; ?>
