//
//  Common
//  _____________________________________________

& when (@media-common = true) {

    .coolblue-rewards-promo {

        .product p {
            color: @color-gray40;
        }
    }
}
